
.progress-container .ant-progress-text{
    position: absolute;
    left: 0;
}

.people-com{
    border: 1px solid saddlebrown;
    margin: 2px;
}
.people-com .ant-card-body{
    padding: 2px;
}
.people-com .ant-card-head{
    padding: 2px;
}

.center-content {
    display: flex; /* 使用 Flexbox 布局 */
    align-items: center; /* 垂直居中对齐 */
    justify-content: center; /* 水平居中对齐（可选） */
}